<template>
  <div class="footer">
    <div class="container footer-container">
      <div class="footer-container__element" style="width: 20%">
        <div class="title">PHIÊN BẢN XE TẢI</div>
        <div v-for="item in listCategory" :key="item.id">
          <a :href="item.href" class="category">
            {{ item.category }}
          </a>
        </div>
      </div>
      <div class="footer-container__element" style="width: 30%">
        <div class="title">THÔNG TIN LIÊN HỆ</div>
        <div class="sub-title">XE TẢI THACO LONG BIÊN - HÀ NỘI</div>
        <div v-for="item in listContact" :key="item.id">
          <a :href="item.href" class="category">
            {{ item.category }}
          </a>
        </div>
      </div>
      <div class="footer-container__element" style="width: max-content">
        <div class="title">BẢN ĐỒ</div>
        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1565.5598005144575!2d105.8913292728946!3d21.050695962353203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a9a1344e3263%3A0x26b68baa11d48e55!2zQ8O0bmcgdHkgw5QgdMO0IE5hbSBWaeG7h3Q!5e0!3m2!1svi!2s!4v1652204887478!5m2!1svi!2s"
            width="400"
            height="300"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { HOTLINE } from "@/const/index.js";
export default {
  data() {
    return {
      listCategory: [
        {
          id: 3,
          category: "Xe tải Foton",
          href: "#foton",
        },

        {
          id: 1,
          category: "Xe tải Kia",
          href: "#kia",
        },
        {
          id: 4,
          category: "Xe tải Fuso",
          href: "#fuso",
        },
        {
          id: 2,
          category: "Xe tải Thaco",
          href: "#thaco",
        },
      ],
      listContact: [
        {
          id: 3,
          category: `Hotline: ${HOTLINE} Mr.Đang`,
          href: `tel:${HOTLINE}`,
        },

        {
          id: 1,
          category: "Email: ptkien201195@gmail.com",
          href: "#kia",
        },
        {
          id: 4,
          category:
            "Địa chỉ: Số 39 Nguyễn Văn Linh, Phường Phúc Đồng, Quận Long Biên, Hà Nội",
          href: "#fuso",
        },
        {
          id: 2,
          category: "Website: xetaihanoigiatot.com",
          href: "#thaco",
        },
      ],
    };
  },
};
</script>

<style lang="scss">
.footer {
  background: #022560;
  .footer-container {
    display: flex;
    justify-content: space-around;
    &__element {
    }
  }
  .title {
    font-weight: 700;
    font-size: 120%;
    color: white;
    margin-bottom: 10px;
  }
  .sub-title {
    font-size: 110%;
    font-weight: 500;
    color: white;
  }
  .category {
    color: white;
    &:hover {
      transition: all 0.3s ease 0s;
    }
  }
}
</style>
