<template>
  <div class="container">
    <div class="main-menu">
      <div class="logo">
        <a href="#">
          <img
            src="https://thacodaitu.vn/Themes/ThacoShowroom/images/logo/logo.png"
            alt=""
          />
        </a>
      </div>
      <div class="menu-bar">
        <div class="hotline-top">
          <img :src="myLogoSrc" alt="hotline" />
          <a :href="`tel:${HOTLINE}`"> {{ HOTLINE }} </a>
        </div>
        <div class="nav-menu">
          <ul class="nav nav-main-menu">
            <li class="nav-item" v-for="item in titleList" :key="item.id">
              <a :href="item.url" class="nav-link">{{ item.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { HOTLINE } from "@/const/index.js";
import myLogoSrc from "@/components/icons/call.svg";

export default {
  components: {},
  data() {
    return {
      HOTLINE,
      myLogoSrc,
      titleList: [
        {
          id: 1,
          name: "Trang chủ",
          url: "/",
        },
        {
          id: 2,
          name: "Xe tải",
          url: "/bus",
        },
        {
          id: 3,
          name: "Bảng giá xe tải",
          url: "/#/bang-gia-xe/",
        },
        {
          id: 4,
          name: "Thủ tục trả góp",
          url: "/#/thu-tuc-tra-gop/",
        },
        {
          id: 6,
          name: "Tin tức",
          url: "/new",
        },
        {
          id: 7,
          name: "Liên hệ",
          url: "/support",
        },
      ],
    };
  },
};
</script>
<style lang="scss">
.container {
  position: relative;
  @media (min-width: 1200px) {
    max-width: 1110px;
  }
}
@keyframes ring-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
.hotline-top {
  color: #ff0000;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  a {
    color: #ff0000;
  }
  img {
    width: 55px;
    animation: ring-anim 1s infinite ease-in-out;
  }
}
.main-menu {
  display: flex;
  width: 100%;
  height: 110px;
  justify-content: space-between;
  align-items: center;
  .logo {
    padding-right: 1.3rem;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    img {
      max-width: 100%;
      object-fit: cover;
      min-height: 50px;
    }
  }
  .menu-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .logo-department {
    width: 20%;
    padding-left: 1.5rem;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
  .nav-menu {
    justify-content: flex-end;
    align-items: flex-end;
    .nav-main-menu {
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      .nav-item {
        height: 100%;
      }
      .nav-link {
        display: flex;
        align-items: flex-end;
        font-size: 14px;
        line-height: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 1.3rem;
        height: 100%;
        color: #333333;
        font-weight: 500;
        margin-top: 4px;
      }
      .nav-link:hover {
        color: #022561;
      }
      .nav-item:last-child {
        .nav-link {
          padding-right: 0;
        }
      }
    }
  }
}
</style>
