<template>
  <ContributionProcedure />
</template>

<script>
import ContributionProcedure from "@/components/ContributionProcedure/index.vue";
export default {
  components: { ContributionProcedure },
};
</script>

<style></style>
