<template>
  <div>
    <SliderBranch />
    <hr />
    <div class="product-list">
      <div id="kia" class="product-list__title my-4">KIA FRONTIER</div>
      <div
        v-for="item in productsKia"
        :key="item.id + 'kia'"
        class="d-inline mb-5"
      >
        <ProductElement :info="item" />
      </div>

      <div id="thaco" class="product-list__title my-4">THACO TOWNER</div>
      <div
        v-for="item in productsThaco"
        :key="item.id + 'thaco'"
        class="d-inline"
      >
        <ProductElement :info="item" />
      </div>

      <div id="foton" class="product-list__title my-4">THACO FOTON</div>
      <div
        v-for="item in productsFoton"
        :key="item.id + 'foton'"
        class="d-inline"
      >
        <ProductElement :info="item" />
      </div>

      <div id="fuso" class="product-list__title my-4">MITSUBISHI FUSO</div>
      <div
        v-for="item in productsFuso"
        :key="item.id + 'fuso'"
        class="d-inline"
      >
        <ProductElement :info="item" />
      </div>
    </div>
  </div>
</template>

<script>
import SliderBranch from "@/components/Home/SliderBranch.vue";
import ProductElement from "@/components/Home/ProductElement.vue";
import {
  PRODUCTS_KIA,
  PRODUCTS_THACO,
  PRODUCTS_FOTON,
  PRODUCTS_FUSO,
} from "@/const/index.js";
export default {
  components: { SliderBranch, ProductElement },
  data() {
    return {
      productsKia: PRODUCTS_KIA,
      productsThaco: PRODUCTS_THACO,
      productsFoton: PRODUCTS_FOTON,
      productsFuso: PRODUCTS_FUSO,
    };
  },
};
</script>

<style lang="scss">
.product-list {
  &__title {
    font-size: 140%;
    color: #ec1f1f;
    font-weight: 700;
    background: bisque;
    text-align: center;
    padding: 5px 0;
  }
}
</style>
