<template>
  <div class="product">
    <img :src="info.image" :alt="info.alt" />
    <div class="product__name">{{ info.name }} - {{ info.weight }}</div>
    <div class="divide"></div>
    <div class="product__price">{{ info.price }}</div>
    <div class="product__promotion mb-1">{{ info.promotion }}</div>
    <a class="btn btn-1 btn-call btn-danger" :href="`tel:${HOTLINE}`">
      HOTLINE: {{ HOTLINE }}
    </a>
  </div>
</template>

<script>
import { HOTLINE } from "@/const/index.js";
export default {
  props: { info: { type: Object } },
  data() {
    return { HOTLINE };
  },
};
</script>

<style lang="scss">
.product {
  display: inline-flex;
  flex-direction: column;
  width: 270px;
  padding: 25px 10px;
  &__name {
    font-weight: 700;
    font-size: 100%;
    text-align: center;
  }
  &__price {
    font-weight: 700;
    font-size: 120%;
    text-align: center;
  }
  .divide {
    border: 1px solid #dc3545;
    margin: 5px 0;
  }
}
</style>
