<template>
  <div class="pb-sm">
    <carousel :perPage="5">
      <slide v-for="item in carouselList" :key="item.id">
        <div class="d-flex justify-content-center pointer">
          <a :href="item.href">
            <img :src="item.url" />
          </a>
        </div>
      </slide>
    </carousel>
  </div>
</template>
<script>
import { BCarousel } from "bootstrap-vue/esm/components/carousel/carousel";
import { BCarouselSlide } from "bootstrap-vue/esm/components/carousel/carousel-slide";

export default {
  components: {
    BCarousel,
    BCarouselSlide,
  },
  data() {
    return {
      carouselList: [
        {
          id: 3,
          url: "https://thacotai.vn/Content/UserFiles/Images/Logo/product-foton.png",
          href: "#foton",
        },

        {
          id: 1,
          url: "https://thacotai.vn/Content/UserFiles/Images/Logo/product-kia2.png",
          href: "#kia",
        },
        {
          id: 4,
          url: "https://thacotai.vn/Content/UserFiles/Images/Logo/logo_Fuso1604.png",
          href: "#fuso",
        },
        {
          id: 2,
          url: "https://thacotai.vn/Content/UserFiles/Images/Logo/product-thaco.png",
          href: "#thaco",
        },
        {
          id: 5,
          url: "https://thacotai.vn/Content/UserFiles/Icon_xechuyendung.png",
        },
      ],
    };
  },
};
</script>
<style></style>
