<template>
  <div class="container gia-xe"  style="margin-top: 110px">
    <h1 class="panel-title">Bảng báo giá xe</h1>
    <div class="d-flex justify-content-center">
      <div class="table-gia-xe">
        <div class="header">
          <div style="width: 60%">Dòng xe</div>
          <div style="width: 40%">Giá bán</div>
        </div>
        <div class="body">
          <div v-for="(item, index) in products" :key="index" class="data">
            <div style="width: 60%">{{ item.name }}</div>
            <div style="width: 40%">{{ item.price }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  PRODUCTS_KIA,
  PRODUCTS_THACO,
  PRODUCTS_FOTON,
  PRODUCTS_FUSO,
} from "@/const/index.js";
export default {
  data() {
    return {
      products: [
        ...PRODUCTS_KIA,
        ...PRODUCTS_THACO,
        ...PRODUCTS_FOTON,
        ...PRODUCTS_FUSO,
      ],
    };
  },
};
</script>

<style lang="scss">
.gia-xe {
  padding: 50px;
  .panel-title {
    font-size: 200%;
    font-weight: 600;
    color: #022560;
    margin-left: 225px;
  }
}
.table-gia-xe {
  display: flex;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  .header {
    display: flex;
    width: 100%;
    div {
      background: #022560;
      font-size: 120%;
      font-weight: 600;
      color: white;
      padding: 10px;
      border: 1px solid white;
    }
  }
  .body {
    display: flex;
    width: 100%;
    flex-direction: column;
    .data {
      display: flex;
      width: 100%;
      div {
        font-size: 120%;
        font-weight: 600;
        color: #022560;
        padding: 10px;
        border: 1px solid #022560;
      }
    }
  }
}
</style>
