<template>
  <div id="app">
    <header class="main-header">
      <Header />
    </header>
    <div class="main-banner" v-if="$route.path == '/'">
      <Carousel class="main-banner-carousel" />
    </div>
    <div class="container">
      <router-view />
    </div>
    <footer>
      <Footer />
    </footer>
  </div>
</template>

<script>
import Header from "@/components/Layout/Header.vue";
import Footer from "@/components/Layout/Footer.vue";

import Carousel from "@/views/components/Carousel.vue";
export default {
  name: "default",
  components: { Header, Footer, Carousel },
};
</script>

<style lang="scss">
#app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  .main-header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    z-index: 1001;
  }
  .main-banner {
    position: relative;
    margin-top: 110px;
    font-size: 0;
    main-banner-carousel {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}
</style>
