<template>
  <section class="section-shaped overflow-hidden my-0">
    <div class="py-0 pb-md">
      <div class="row justify-content-between align-items-center">
        <div class="mb-lg-auto">
          <div class="rounded shadow-lg overflow-hidden">
            <b-carousel id="carousel1" controls indicators>
              <!-- Text slides with image -->
              <b-carousel-slide
                v-for="item in carouselList"
                :key="item.id"
                :img-src="item.url"
              ></b-carousel-slide>
            </b-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { BCarousel } from "bootstrap-vue/esm/components/carousel/carousel";
import { BCarouselSlide } from "bootstrap-vue/esm/components/carousel/carousel-slide";

export default {
  components: {
    BCarousel,
    BCarouselSlide,
  },
  data() {
    return {
      carouselList: [
        {
          id: 1,
          url: "https://thacocv.thacotai.vn//Content/UserFiles/BANNER_TRANGCHU_FRONTIER.jpg",
        },
        {
          id: 2,
          url: "https://thacotai.vn/Content/UserFiles/Images/Banner/2022/BANNER_TRANGCHU_LINEUPTAI-(1).jpg",
        },
        {
          id: 3,
          url: "https://thacocv.thacotai.vn//Content/UserFiles/BANNER_TRANGCHU_TOWNER_VAN.jpg",
        },
         {
          id: 4,
          url: "https://thacocv.thacotai.vn//Content/UserFiles/Images/Products/Ollin/2021/Thang5/BANNER_OLLIN_120.jpg",
        },
      ],
    };
  },
};
</script>
<style></style>
